/* Query for Medium device */

@media screen and (max-width:992px) {
    header .navigation {
        grid-template-columns: 90%;
    }

    header .navigation .logo {
        justify-content: center;
        margin-bottom: 20px;
    }

    .banner-container {
        grid-template-columns: 1fr;
    }

    .banner-left {
        order: 2;
        margin-top: 40px;
        text-align: center;
    }

    .banner-right {
        order: 1;

    }
    /* .banner .banner-left ul {
        display: grid;
        justify-content: center;
    }
    .banner .banner-left ul li {
        margin-bottom: 0;
    } */
    .banner{
        background: none;
    }
    .banner-left{
        padding: 85px;
        background-image: url('./images/Group\ 14.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: left;
    
    }

}


/* Query for small device */

@media screen and (max-width:752px) {
    header .navigation ul {
        grid-template-columns: 1fr;
    }
    

}