@media screen and (max-width:895px) {

    header {
        justify-content: center;
    }

    nav.grid {
        grid-template-columns: 1fr !important;
    }

    .menu {
        margin-top: 20px;
    }

    .logo {
        justify-content: center;
    }

    .banner-container .banner-left p {
        font-size: 30px;
    }

    .common-text {
        font-size: 14px;
    }

    .banner-container .banner-left h2,
    .about-right h2, .card-container h2, .card-container span, .install-left h2, .install-left span{
        font-size: 40px;
    }

    .primebtn {
        font-size: 14px;
        padding: 16px 35px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .about-container.grid {
        height: auto;
        margin-top: 40px;
    }

    .about-right blockquote {
        font-size: 18px;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card p {
        text-align: center;
    }

    .install-container.grid {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        justify-content: center;
    }

    .install-left {
        text-align: center;
        margin-bottom: 74px;
        margin-top: 120px;
    }

    section.banner-right img.smallpic {
        bottom: -63px;
        left: 0%;
        width: 38%;
    }

    section.banner-right img.bigpic {

        width: 70%;
    }

    .bottom-menu ul {
        flex-wrap: wrap;
    gap: 35px 30px;
    }
    /* .card .hover-sec {
        height: 84%;
    } */

}

@media screen and (max-width:789px) {

    .game {
        width: 224px;
    }
    .bottom-menu ul li {
        list-style: none;
        width: 26%;
    }
    .bottom-term ul li{
        width: 40%;
    }
}

@media screen and (max-width:532px) {
    .menu {
        flex-direction: column;
        gap: 20px;
    }

    .banner-container.grid {
        grid-template-columns: 1fr;
    }

    .banner-container .banner-left {
        padding: 5%;
        background-image: url('./images/Group\ 14.png');
        margin: auto;
        background-size: contain;
    }

    .banner-container {
        background: none;
    }

    .banner-left {
        order: 2;
    }

    .banner-container .banner-right {
        width: 75%;
        margin: auto;
    }

    .about-right {
        text-align: center;
        width: 86%;
        margin: auto;
        margin-top: 65px;
    }

    .about-container.grid {
        grid-template-columns: 1fr;
    }

    .card {
        grid-template-columns: 74%;
        justify-content: center;

    }

    .game {
        width: 155px;
    }
    /* .card .hover-sec {
        position: absolute;
        height: 87%;
    } */
   

}