* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.fix-width {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 38px 0;
}

header .navigation {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
}

header .navigation .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .navigation .logo h3 {
    font-size: 45px;
}

header .navigation ul {
    display: grid;
    grid-template-columns: 20% 20% auto;
    align-items: center;
    text-align: center;
    gap: 30px;
}

header .navigation ul li {
    list-style: none;
}

header .navigation ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
}

header .navigation ul .item {
    display: flex;
    gap: 12px;
    border-radius: 8px;
    justify-content: space-between;
    padding: 18px 24px;
    background: rgba(11, 2, 35, 0.10);
}

header .navigation ul li a i {
    font-size: 20px;
    color: #F61C0D;
}

header .navigation ul li a i.fa-tiktok {
    color: black;
}

span {
    color: #FF42A5;
}


/* banner section */
.banner {
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.grid {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    align-items: center;
}

.banner-container p {
    font-size: 38px;
    font-weight: 600;
}

.banner-container h2 {
    font-size: 76px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-container ul li {
    list-style: none;
}

.banner-container ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    color: #534C64;
    /* font-size: 16px; */
    font-weight: 500;
    text-decoration: none;
}

.banner-container img {
    max-width: 100%;
    height: auto;
}

button {
    border-radius: 48px;
    background: #4EC5F7;
    margin: 20px 7px 0 0;
    padding: 16px 40px;
    border: 0;
    color: #FFF;
    font-weight: 600;
}

.pinkbtn {
    background: #FF42A5;
}

.banner-left {
    padding: 100px 0;
}

/* about us */
.about {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.about-container {
    grid-template-columns: 55% 43%;
    padding: 50px 0;
}

.about-right {
    text-align: right;
}

.about-right h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;

}

.about-right p {
    color: #534C64;
    margin-top: 10px;

}

blockquote {
    color: #534C64;
    font-size: 20px;
    font-weight: 700;
}

/* card section */

.card-container {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}

.common-h2 {
    color: #0B0223;
    font-size: 40px;
}

.common-text {
    font-size: 13px;
    color: #534C64;
    margin: 16px 0 48px 0;
    font-weight: 500;
}

.card-container .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    position: relative;
}

.card-img p{
    text-align: start;
}
.card-img img{
    position: relative;
}
.hover-sec{
    height: 75%;
    width: 23%;
    background: #000000cc;
    text-align: center;
    position: absolute;
    bottom: 98px;
    border: 2px solid #FF42A5;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    opacity: 0;
}
.card-img:hover .hover-sec{
    opacity: 1;
    transition: .5s;
}
.hover-sec p {
    text-align: center;
    color: #FF42A5;
    font-weight: 500;
}


/* install section */

.install{}
.install-container{
    grid-template-columns: 40% 20% auto;
}
.install-left{}
.install-left h2,.install-left p{
    text-align: end;
}
.install-right img{}
.smallpic{
    position: relative;
    bottom: 120px;
    right: 93px;
    width: 50%;

}

.install-right h2,.install-right p{ 
    text-align: left;
}

.smallpicbottom{
    position: relative;
    bottom: 120px;
    width: 50%;
    left: 280px;
}

